* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    display: flex;
    justify-content: center;
    
}

.header {
    margin: 35px 0px 0px 35px;
    order: 1;
}

main {
    display: flex;
    justify-content: center;
}
.score {
    margin-top: 30px;
    order: 2;
}

.scoreboard{
    font-weight: 200px;
    text-decoration-line: underline;
    margin: 10px;
    font-size: 30px;
}

.scores {
    padding: 5px 0px 0px 0px;
    font-size: 20px;   
}

.user {
    display: flex;
}

.cpu {
    display: flex;
}

#user-tag {
    margin-right: 40px;
}

#cpu-tag {
    margin-right: 39px;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#rock, #paper, #scissors {
    margin: 15px 8px 0px 8px;
}
#rock {
    background: url(rock.ico);
    width: 32px;
    height: 32px;
    border: none; 
}

#paper {
    background: url(paper.ico);
    width: 32px;
    height: 32px;
    border: none;
}

#scissors {
    background: url(scissors.ico);
    width: 32px;
    height: 32px;
    border: none;
}

.winner-box {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 200px;
    margin-top: 30px;
}

